@import url(bootstrap.min.css);
@import url(bootstrap-theme.css);
@import url(../fonts/stylesheet.css);
@import url(owl.carousel.css);
@import url(owl.theme.default.css);
* {
  margin: 0;
  padding: 0;
  font-size: inherit; }

header {
  background-image: url("../images/bg.png");
  background-size: cover; }
  header .navbar-default {
    box-shadow: none; }
  header .navbar {
    background: none;
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    padding-top: 30px;
    padding-bottom: 30px; }
    header .navbar .nav a {
      font-size: 16px;
      text-transform: uppercase;
      color: #4d4d4d; }
      header .navbar .nav a:after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        margin-top: 10px;
        background-color: #4d4d4d; }
      header .navbar .nav a:hover:after {
        width: 100%; }

section.block h1 {
  padding-top: 180px;
  font-size: 88px;
  color: #4d4d4d;
  font-family: 'Asap'; }
section.block p {
  font-family: 'Asap';
  font-size: 22px;
  color: #4d4d4d;
  padding-bottom: 35px; }
section.block a {
  width: 160px;
  height: 50px;
  padding-top: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d4d4d;
  border: 1px solid #4d4d4d;
  margin-right: 20px;
  display: inline-block;
  font-family: 'Asap'; }
  section.block a:hover {
    border: 1px solid #ffffff;
    background-color: #ffffff; }

section.block_2 {
  background-color: #ffffff; }
  section.block_2 .row {
    padding-top: 110px;
    padding-bottom: 120px; }
    section.block_2 .row h2 {
      margin-top: 95px;
      font-size: 46px;
      color: #4d4d4d;
      font-family: 'Asap'; }
      section.block_2 .row h2:before {
        content: "";
        display: block;
        width: 60px;
        height: 4px;
        background-color: #4d4d4d;
        margin-bottom: 20px; }
    section.block_2 .row p {
      font-size: 16px;
      color: #4d4d4d;
      font-family: 'Asap'; }
    section.block_2 .row a.download {
      font-size: 16px;
      color: #4d4d4d;
      font-family: 'Asap';
      border: 1px solid #4d4d4d;
      padding: 20px 50px;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      margin-top: 40px;
      margin-bottom: 50px; }

section.block_3 {
  background-color: #f6f6f6; }
  section.block_3 h3 {
    font-size: 46px;
    color: #4d4d4d;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 70px;
    font-family: 'Asap'; }
    section.block_3 h3:before {
      content: "";
      display: block;
      width: 60px;
      height: 4px;
      background-color: #4d4d4d;
      margin: auto;
      margin-bottom: 20px; }
  section.block_3 .col-md-4 h4 {
    padding-top: 25px;
    padding-bottom: 80px;
    font-size: 24px;
    color: #4d4d4d;
    font-family: 'Asap'; }

section.block_4 {
  background-color: #ffffff; }
  section.block_4 h3 {
    font-size: 46px;
    color: #4d4d4d;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 70px;
    font-family: 'Asap'; }
    section.block_4 h3:before {
      content: "";
      display: block;
      width: 60px;
      height: 4px;
      background-color: #4d4d4d;
      margin: auto;
      margin-bottom: 20px; }
  section.block_4 img {
    margin-bottom: 125px; }

section.block_5 {
  background-color: #f6f6f6; }
  section.block_5 h3 {
    font-size: 46px;
    color: #4d4d4d;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 70px;
    font-family: 'Asap'; }
    section.block_5 h3:before {
      content: "";
      display: block;
      width: 60px;
      height: 4px;
      background-color: #4d4d4d;
      margin: auto;
      margin-bottom: 20px; }
  section.block_5 img {
    margin-top: 30px; }
  section.block_5 a {
    background-color: #ffffff;
    margin-top: 40px;
    margin-bottom: 120px;
    width: 190px;
    font-size: 16px;
    color: #4d4d4d;
    border: 1px solid #ffffff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Asap';
    -webkit-box-shadow: 3px 3px 40px 8px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 3px 3px 40px 8px rgba(0, 0, 0, 0.52);
    box-shadow: 3px 3px 40px 8px rgba(0, 0, 0, 0.52); }

section.block_6 h3 {
  font-size: 46px;
  color: #4d4d4d;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 70px;
  font-family: 'Asap'; }
  section.block_6 h3:before {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background-color: #4d4d4d;
    margin: auto;
    margin-bottom: 20px; }
section.block_6 .block_66 {
  border: 1px solid #4d4d4d;
  padding-top: 85px;
  padding-bottom: 105px;
  font-family: 'Asap';
  margin-bottom: 120px; }
  section.block_6 .block_66 img {
    margin-left: 120px;
    width: 160px; }
  section.block_6 .block_66 div.col-md-6.col-md-offset-3 {
    margin-left: 10%; }
    section.block_6 .block_66 div.col-md-6.col-md-offset-3 h4 {
      font-size: 30px;
      color: #212121; }
    section.block_6 .block_66 div.col-md-6.col-md-offset-3 h5 {
      font-size: 12px;
      color: #212121; }
    section.block_6 .block_66 div.col-md-6.col-md-offset-3 p {
      font-size: 16px;
      color: #212121; }

section.block_7 {
  background-color: #f6f6f6;
  font-family: 'Asap';
  padding-top: 80px;
  padding-bottom: 65px;
  margin-bottom: 155px; }
  section.block_7 h4 {
    font-size: 30px;
    color: #4d4d4d; }
  section.block_7 h5 {
    font-size: 22px;
    color: #4d4d4d; }

footer {
  background-image: url("../images/footer_fon.png"); }

/*# sourceMappingURL=style.css.map */
