@import "bootstrap.min.css";
@import "bootstrap-theme.css";
@import "../fonts/stylesheet.css";
@import "owl.carousel.css";
@import "owl.theme.default.css";

* {
  margin: 0;
  padding: 0;
  font-size: inherit;

}

$bgsilver: #f6f6f6;
$text:#4d4d4d;
$bgwhite:#ffffff;


header {
  background-image: url("../images/bg.png");
  background-size: cover;
  .navbar-default {
    box-shadow: none;
  }
  .navbar {
    background: none;
    margin-bottom: 0;
    border: none;
    border-radius:0 ;
    padding-top: 30px;
    padding-bottom: 30px;
    .nav a {
       font-size: 16px;
       text-transform: uppercase;
       color: $text;
      &:after{
        content: "";
        display: block;
        width: 0;
        height: 2px;
        margin-top: 10px;
        background-color: $text;
      }
      &:hover:after {
        width: 100%;
      }
     }
  }
}

section.block {
  h1 {
    padding-top: 180px;
    font-size: 88px;
    color: $text;
    font-family: 'Asap';
  }
  p{
    font-family: 'Asap';
    font-size: 22px;
    color: $text;
    padding-bottom: 35px;
  }
  a {
    width: 160px;
    height: 50px;
    padding-top: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $text;
    border: 1px solid $text;
    margin-right: 20px;
    display: inline-block;
    font-family: 'Asap';
    &:hover {
      border: 1px solid #ffffff;
      background-color: #ffffff;
    }
  }
}

section.block_2 {
  background-color: $bgwhite;
  .block_2_2 {
    padding-top: 110px;
    padding-bottom: 120px;
    h2 {
      margin-top: 95px;
      font-size: 46px;
      color: $text;
      font-family: 'Asap';
      &:before {
        content: "";
        display: block;
        width: 60px;
        height: 4px;
        background-color: $text;
        margin-bottom: 20px;
      }
    }
    p {
      font-size: 16px;
      color: $text;
      font-family: 'Asap';
    }
    a.download {
      font-size: 16px;
      color: $text;
      font-family: 'Asap';
      border: 1px solid $text;
      padding: 20px 50px;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      margin-top: 40px;
      margin-bottom: 50px;
    }
  }
}

section.block_3 {
  background-color: $bgsilver;
  h3 {
    font-size: 46px;
    color: $text;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 70px;
    font-family: 'Asap';
    &:before {
      content: "";
      display: block;
      width: 60px;
      height: 4px;
      background-color: $text;
      margin: auto;
      margin-bottom: 20px;
    }
  }
  .col-md-4 {
    h4 {
      padding-top: 25px;
      padding-bottom: 80px;
      font-size: 24px;
      color: $text;
      font-family: 'Asap';
    }
  }
}
section.block_4{
  background-color: $bgwhite;
  h3 {
    font-size: 46px;
    color: $text;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 70px;
    font-family: 'Asap';

    &:before {
      content: "";
      display: block;
      width: 60px;
      height: 4px;
      background-color: $text;
      margin: auto;
      margin-bottom: 20px;
    }
  }
  img {
    margin-bottom: 125px;
  }
}
section.block_5 {
  background-color: $bgsilver;
  h3 {
    font-size: 46px;
    color: $text;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 70px;
    font-family: 'Asap';

    &:before {
      content: "";
      display: block;
      width: 60px;
      height: 4px;
      background-color: $text;
      margin: auto;
      margin-bottom: 20px;
    }
  }
  img{
    margin-top: 30px;
  }
  a {
    background-color: $bgwhite;
    margin-top: 40px;
    margin-bottom: 120px;
    width: 190px;
    font-size: 16px;
    color: $text;
    border: 1px solid $bgwhite;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Asap';
    -webkit-box-shadow: 3px 3px 40px 8px rgba(0,0,0,0.52);
    -moz-box-shadow: 3px 3px 40px 8px rgba(0,0,0,0.52);
    box-shadow: 3px 3px 40px 8px rgba(0,0,0,0.52);

  }
}
section.block_6 {
  h3 {
    font-size: 46px;
    color: $text;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 70px;
    font-family: 'Asap';

    &:before {
      content: "";
      display: block;
      width: 60px;
      height: 4px;
      background-color: $text;
      margin: auto;
      margin-bottom: 20px;
    }
  }
}
section.block_6 {
  .block_66 {
    border: 1px solid $text;
    img {
      width: 160px;
      padding-left: 120px;
    }
  }
}










footer {
  background-image: url("../images/footer_fon.png");
}
